:root {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #1f1f1f;
  background-color: #ffffff;
}

body {
  margin: 0;
  background-color: #f7f8fb;
}
